# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# DDEV - local files
.ddev/.dbimageBuild/
.ddev/.webimageBuild/
.ddev/.ddev-docker-compose-full.yaml
.ddev/.global_commands/
.ddev/.local_commands/
.ddev/tmp/
.ddev/.router-compose-full.yaml

# DDEV local override files
.ddev/docker-compose.override.yaml
.ddev/config.local.yaml
